<link rel="stylesheet" href="/css/cart.css">
<link rel="stylesheet" href="/bootstrap/bootstrap.min.css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="/src/public/js/buttonAddMinus"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
{{#if products}}
<div class="container mb-4">
    <div class="grid mt-6">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col"> </th>
                            <th scope="col">Product</th>
                            <th scope="col">Available</th>
                            <th scope="col" class="text-center">Quantity</th>
                            <th scope="col" class="text-right">Price</th>
                            <th> </th>
                        </tr>
                    </thead>

                    <tbody>
                        {{#each products}}
                        <tr>
                            <td><img src="https://dummyimage.com/50x50/55595c/fff" /> </td>
                            <td>{{this.item.name}}</td>
                            <td>In stock</td>
                            <td>
                                <div class="center">
                                    <div class="input-group">
                                        <a href="/product/reduce/{{this.item._id}}" class="input-group-btn">
                                            <button type="button" class="btn btn-default btn-number"
                                                data-type="minus" data-field="quant[1]">
                                                <span class="glyphicon glyphicon-minus"></span>
                                                <span><i class="fas fa-minus-square"></i></span>
                                            </button>
                                        </a>
                                        <input type="text" name="quant[1]" class="form-control input-number" value="{{this.qty}}"
                                            min="1" max="10">   
                                        <a href="/product/increase/{{this.item._id}}" class="input-group-btn">
                                            <button type="button" class="btn btn-default btn-number" data-type="plus"
                                                data-field="quant[1]">
                                                <span class="glyphicon glyphicon-plus"></span>
                                                <span><i class="fas fa-plus-square"></i></span>
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </td>
                            <td class="text-right">{{this.price}}€</td>
                            <td class="text-right"><a href="/product/remove/{{this.item._id}}"
                                    class="btn btn-sm btn-danger"><i class="fa fa-trash"></i>
                                </a> </td>
                        </tr>
                        {{/each}}
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><strong>Total</strong></td>
                            <td class="text-right"><strong>{{totalPrice}} €</strong></td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
        <div class="col mb-2">
            <div class="row">
                <div class="col-sm-12  col-md-6">
                    <button class="btn btn-block btn-light">Continue Shopping</button>
                </div>
                <div class="col-sm-12 col-md-6 text-right">
                    <a href="/product/checkout" class="btn btn-lg btn-block btn-success text-uppercase">Checkout</a>
                </div>
            </div>
        </div>
    </div>
</div>

{{else}}
<div class="grid">
    <div style="text-align: center;" >
        <h2>No item in cart</h2>
    </div>
</div>
{{/if}}